/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-size: 14px;
}

.fb-pc {
  display: none;
}

html body .fb-fv {
  height: 375px;
}
html body .fb-main .fb-popular {
  height: 375px;
}
html body .fb-main .fb-lineUp .fb-lineUp-copy {
  height: 305px;
}
html body .fb-main .fb-curry .fb-curry-items, html body .fb-main .fb-curry .fb-sweets-items, html body .fb-main .fb-curry .fb-sezon-items, html body .fb-main .fb-sweets .fb-curry-items, html body .fb-main .fb-sweets .fb-sweets-items, html body .fb-main .fb-sweets .fb-sezon-items, html body .fb-main .fb-sezon .fb-curry-items, html body .fb-main .fb-sezon .fb-sweets-items, html body .fb-main .fb-sezon .fb-sezon-items {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
html body .fb-main .fb-curry .fb-curry-items .fb-bg, html body .fb-main .fb-curry .fb-sweets-items .fb-bg, html body .fb-main .fb-curry .fb-sezon-items .fb-bg, html body .fb-main .fb-sweets .fb-curry-items .fb-bg, html body .fb-main .fb-sweets .fb-sweets-items .fb-bg, html body .fb-main .fb-sweets .fb-sezon-items .fb-bg, html body .fb-main .fb-sezon .fb-curry-items .fb-bg, html body .fb-main .fb-sezon .fb-sweets-items .fb-bg, html body .fb-main .fb-sezon .fb-sezon-items .fb-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body .fb-main .fb-curry .fb-curry-items .fb-items, html body .fb-main .fb-curry .fb-sweets-items .fb-items, html body .fb-main .fb-curry .fb-sezon-items .fb-items, html body .fb-main .fb-sweets .fb-curry-items .fb-items, html body .fb-main .fb-sweets .fb-sweets-items .fb-items, html body .fb-main .fb-sweets .fb-sezon-items .fb-items, html body .fb-main .fb-sezon .fb-curry-items .fb-items, html body .fb-main .fb-sezon .fb-sweets-items .fb-items, html body .fb-main .fb-sezon .fb-sezon-items .fb-items {
  width: 85vw;
  transform: translateY(-25px);
}
html body .fb-main .fb-curry .fb-curry-items, html body .fb-main .fb-sweets .fb-curry-items, html body .fb-main .fb-sezon .fb-curry-items {
  height: 440px;
}
html body .fb-main .fb-curry .fb-sweets-items, html body .fb-main .fb-sweets .fb-sweets-items, html body .fb-main .fb-sezon .fb-sweets-items {
  height: 477px;
}
html body .fb-main .fb-curry .fb-sezon-items, html body .fb-main .fb-sweets .fb-sezon-items, html body .fb-main .fb-sezon .fb-sezon-items {
  height: 482px;
}
html body .fb-main .fb-curry .fb-copy, html body .fb-main .fb-sweets .fb-copy, html body .fb-main .fb-sezon .fb-copy {
  background-color: #F4EFE1;
  padding-bottom: 35px;
}
html body .fb-main .fb-curry .fb-copy h2, html body .fb-main .fb-sweets .fb-copy h2, html body .fb-main .fb-sezon .fb-copy h2 {
  margin-left: 5vw;
  font-family: "zen-kaku-gothic-antique", sans-serif;
  font-size: 21px;
}
html body .fb-main .fb-curry .fb-copy ul, html body .fb-main .fb-sweets .fb-copy ul, html body .fb-main .fb-sezon .fb-copy ul {
  width: 90vw;
  margin: 12.5px 0 0 5vw;
}
html body .fb-main .fb-curry .fb-copy ul li, html body .fb-main .fb-sweets .fb-copy ul li, html body .fb-main .fb-sezon .fb-copy ul li {
  margin-top: 2.5px;
  font-family: "zen-kaku-gothic-antique", sans-serif;
}
html body .fb-main .fb-curry .fb-copy ul li:nth-of-type(1), html body .fb-main .fb-sweets .fb-copy ul li:nth-of-type(1), html body .fb-main .fb-sezon .fb-copy ul li:nth-of-type(1) {
  margin-top: 0;
}
html body .fb-main .fb-curry .fb-copy ul li:nth-last-of-type(1), html body .fb-main .fb-sweets .fb-copy ul li:nth-last-of-type(1), html body .fb-main .fb-sezon .fb-copy ul li:nth-last-of-type(1) {
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 700;
}
html body .fb-main .fb-curry .fb-copy ul li:nth-last-of-type(1) span, html body .fb-main .fb-sweets .fb-copy ul li:nth-last-of-type(1) span, html body .fb-main .fb-sezon .fb-copy ul li:nth-last-of-type(1) span {
  font-size: 17.5px;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion, html body .fb-main .fb-sweets .fb-copy .fb-accordion, html body .fb-main .fb-sezon .fb-copy .fb-accordion {
  display: none;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_open, html body .fb-main .fb-sweets .fb-copy .fb-accordion_open, html body .fb-main .fb-sezon .fb-copy .fb-accordion_open {
  display: block;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn {
  margin: 25px 0 0 5vw;
  display: flex;
  align-items: center;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn p, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn p, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn p {
  margin-top: 0;
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-weight: 700;
  color: #A97402;
  line-height: 14px;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn div, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn div, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn div {
  display: block;
  margin-left: 5px;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn div div, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn div div, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn div div {
  width: 12px;
  height: 2px;
  border-radius: 2px;
  background-color: #A97402;
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn div .fb-accordion_btn-border, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn div .fb-accordion_btn-border, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn div .fb-accordion_btn-border {
  transform: translateY(-2px) rotate(90deg);
}
html body .fb-main .fb-curry .fb-copy .fb-accordion_btn div .fb-accordion_btn-border_close, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn div .fb-accordion_btn-border_close, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn div .fb-accordion_btn-border_close {
  opacity: 0;
}
html body .fb-main .fb-curry .fb-copy p, html body .fb-main .fb-sweets .fb-copy p, html body .fb-main .fb-sezon .fb-copy p {
  margin-top: 17.5px;
  font-family: "zen-kaku-gothic-antique", sans-serif;
  font-size: 17.5px;
  text-align: center;
}
html body .fb-main .fb-curry .fb-copy p span, html body .fb-main .fb-sweets .fb-copy p span, html body .fb-main .fb-sezon .fb-copy p span {
  font-family: "zen-kaku-gothic-antique", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn {
  width: 90vw;
  margin: 25px auto 0 auto;
  transform: translateY(-5px);
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn p, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn p, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn p {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #333333;
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn p span, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn p span, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn p span {
  display: block;
  width: 2px;
  height: 12px;
  background-color: #333333;
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn p span:nth-of-type(1), html body .fb-main .fb-sweets .fb-copy .fb-cta_btn p span:nth-of-type(1), html body .fb-main .fb-sezon .fb-copy .fb-cta_btn p span:nth-of-type(1) {
  margin-right: 6px;
  transform: rotate(-15deg);
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn p span:nth-of-type(2), html body .fb-main .fb-sweets .fb-copy .fb-cta_btn p span:nth-of-type(2), html body .fb-main .fb-sezon .fb-copy .fb-cta_btn p span:nth-of-type(2) {
  margin-left: 6px;
  transform: rotate(15deg);
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn a, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn a, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn a {
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: #008Eb6;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-size: 17.5px;
  font-weight: 700;
  color: #FFFFFF;
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn a div, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn a div, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn a div {
  width: 14px;
  margin-left: 7px;
  position: relative;
  transform: translateY(-1px);
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn a div div, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn a div div, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn a div div {
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #FFFFFF;
  margin-left: 0;
  position: absolute;
  top: 0;
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn a div div:nth-of-type(1), html body .fb-main .fb-sweets .fb-copy .fb-cta_btn a div div:nth-of-type(1), html body .fb-main .fb-sezon .fb-copy .fb-cta_btn a div div:nth-of-type(1) {
  right: 0;
  transform: translateY(-4px) rotate(45deg);
}
html body .fb-main .fb-curry .fb-copy .fb-cta_btn a div div:nth-of-type(2), html body .fb-main .fb-sweets .fb-copy .fb-cta_btn a div div:nth-of-type(2), html body .fb-main .fb-sezon .fb-copy .fb-cta_btn a div div:nth-of-type(2) {
  bottom: 0;
  transform: translateY(4px) rotate(-45deg);
}
html body .fb-main .fb-sezon .fb-copy {
  background-color: #E2B340;
}
html body .fb-main .fb-sweets .fb-copy {
  padding-bottom: 70px;
}
html body .fb-main .fb-treat {
  height: 227px;
}
html body .fb-main .fb-qA {
  background-color: #008DB3;
  padding-bottom: 75px;
}
html body .fb-main .fb-qA h2 {
  width: 60vw;
  padding-top: 75px;
  margin: 0 auto;
}
html body .fb-main .fb-qA .table-sp {
  width: 90vw;
  border-radius: 10px;
  background-color: #F4EFE1;
  margin: 15px auto 0 auto;
}
html body .fb-main .fb-qA .table-sp tbody {
  display: block;
  padding: 15px 10px;
}
html body .fb-main .fb-qA .table-sp tbody tr {
  display: block;
}
html body .fb-main .fb-qA .table-sp tbody tr th {
  font-weight: 700;
  text-align: left;
}
html body .fb-main .fb-qA .table-sp tbody tr th, html body .fb-main .fb-qA .table-sp tbody tr td {
  font-family: "zen-kaku-gothic-antique", sans-serif;
  font-size: 12px;
}
html body .fb-main .fb-qA .table-sp tbody tr th:nth-of-type(1), html body .fb-main .fb-qA .table-sp tbody tr td:nth-of-type(1) {
  color: #D61800;
}
html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(2) {
  padding-top: 5px;
}
html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(3), html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(6) {
  margin-top: 15px;
}
html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(3) th, html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(6) th {
  display: block;
  font-size: 14px;
  color: #333333;
  text-align: center;
}
html body .fb-main .fb-qA .table-sp tbody tr:nth-of-type(6) {
  margin-top: 30px;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free, html body .fb-main .fb-qA .table-sp tbody .fb-table-item {
  padding: 0 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free th, html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free td, html body .fb-main .fb-qA .table-sp tbody .fb-table-item th, html body .fb-main .fb-qA .table-sp tbody .fb-table-item td {
  font-size: 10.5px;
  line-height: 21px;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free td:nth-of-type(1), html body .fb-main .fb-qA .table-sp tbody .fb-table-item td:nth-of-type(1) {
  width: 20%;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free td:nth-of-type(2), html body .fb-main .fb-qA .table-sp tbody .fb-table-item td:nth-of-type(2) {
  width: 65%;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free td:nth-of-type(2) span, html body .fb-main .fb-qA .table-sp tbody .fb-table-item td:nth-of-type(2) span {
  display: block;
  background-color: #E2B340;
  padding: 1.25px 0;
  margin-top: 2.5px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item-free {
  margin-top: 15px;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-item td:nth-of-type(2) span {
  background-color: #474747;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free, html body .fb-main .fb-qA .table-sp tbody .fb-table-items {
  padding: 0 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free th, html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td, html body .fb-main .fb-qA .table-sp tbody .fb-table-items th, html body .fb-main .fb-qA .table-sp tbody .fb-table-items td {
  font-size: 10.5px;
  line-height: 21px;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(1), html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(1) {
  width: 20%;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(2), html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(2) {
  width: 20%;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(2) img, html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(2) img {
  width: 100%;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3), html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(3) {
  width: 50%;
  text-align: center;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) span, html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(3) span {
  display: block;
  font-weight: 700;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) .fb-postage-label_span, html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(3) .fb-postage-label_span {
  background-color: #E2B340;
  padding: 1.25px 0;
  margin-top: 2.5px;
  color: #FFFFFF;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) .fb-postage-label_span2, html body .fb-main .fb-qA .table-sp tbody .fb-table-items td:nth-of-type(3) .fb-postage-label_span2 {
  color: #E2B340;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free {
  margin-top: 15px;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) span {
  display: block;
  font-weight: 700;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) .fb-postage6480 {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  color: #333333;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items-free td:nth-of-type(3) span:nth-of-type(2) {
  background-color: #E2B340;
  padding: 1.25px 0;
  color: #FFFFFF;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items .fb-postage-label .fb-postage6480 {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  color: #333333;
}
html body .fb-main .fb-qA .table-sp tbody .fb-table-items .fb-postage-label span:nth-of-type(2) {
  background-color: #474747;
  color: #FFFFFF;
}
html body .fb-main .fb-qA .table-sp:nth-of-type(1) {
  margin-top: 25px;
}
html body .fb-main .fb-qA .table-sp:nth-of-type(4) {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .fb-sp {
    display: none;
  }
  .fb-pc {
    display: block;
  }
  html body .fb-fv {
    height: auto;
  }
  html body .fb-main .fb-popular {
    height: 520px;
  }
  html body .fb-main .fb-lineUp .fb-lineUp-copy {
    height: 615px;
  }
  html body .fb-main .fb-curry, html body .fb-main .fb-sweets, html body .fb-main .fb-sezon {
    background-color: #F4EFE1;
    display: flex;
    justify-content: center;
  }
  html body .fb-main .fb-curry .fb-curry-items, html body .fb-main .fb-curry .fb-sweets-items, html body .fb-main .fb-curry .fb-sezon-items, html body .fb-main .fb-sweets .fb-curry-items, html body .fb-main .fb-sweets .fb-sweets-items, html body .fb-main .fb-sweets .fb-sezon-items, html body .fb-main .fb-sezon .fb-curry-items, html body .fb-main .fb-sezon .fb-sweets-items, html body .fb-main .fb-sezon .fb-sezon-items {
    width: 40vw;
    height: 40vw;
    justify-content: end;
    z-index: 1;
  }
  html body .fb-main .fb-curry .fb-curry-items .fb-items, html body .fb-main .fb-curry .fb-sweets-items .fb-items, html body .fb-main .fb-curry .fb-sezon-items .fb-items, html body .fb-main .fb-sweets .fb-curry-items .fb-items, html body .fb-main .fb-sweets .fb-sweets-items .fb-items, html body .fb-main .fb-sweets .fb-sezon-items .fb-items, html body .fb-main .fb-sezon .fb-curry-items .fb-items, html body .fb-main .fb-sezon .fb-sweets-items .fb-items, html body .fb-main .fb-sezon .fb-sezon-items .fb-items {
    width: 67.5%;
    transform: translate(-13.5%, -35px);
  }
  html body .fb-main .fb-curry .fb-copy, html body .fb-main .fb-sweets .fb-copy, html body .fb-main .fb-sezon .fb-copy {
    width: 45vw;
    height: 45vw;
  }
  html body .fb-main .fb-curry .fb-copy .fb-accordion_btn, html body .fb-main .fb-sweets .fb-copy .fb-accordion_btn, html body .fb-main .fb-sezon .fb-copy .fb-accordion_btn {
    display: none;
  }
  html body .fb-main .fb-curry .fb-copy .fb-cta_btn, html body .fb-main .fb-sweets .fb-copy .fb-cta_btn, html body .fb-main .fb-sezon .fb-copy .fb-cta_btn {
    width: 75%;
    margin: 0 0 0 0;
    transform: translateY(-175%);
  }
  html body .fb-main .fb-sezon {
    background-color: #E2B340;
  }
  html body .fb-main .fb-qA h2 {
    width: 15vw;
  }
  html body .fb-main .fb-qA .table-sp {
    width: 75vw;
  }
  html body .fb-main .fb-qA .table-sp tbody {
    padding: 20px 15px;
  }
  html body .fb-main .fb-qA .table-sp tbody tr th, html body .fb-main .fb-qA .table-sp tbody tr td {
    font-size: 14px;
  }
  html body .fb-main .fb-qA .table-sp tbody .fb-sp {
    display: none;
  }
  html body .fb-main .fb-qA .table-pc {
    width: 75vw;
    border-radius: 10px;
    background-color: #F4EFE1;
    margin: 15px auto 0 auto;
  }
  html body .fb-main .fb-qA .table-pc tbody {
    display: block;
    padding: 20px 15px;
  }
  html body .fb-main .fb-qA .table-pc tbody tr {
    display: block;
  }
  html body .fb-main .fb-qA .table-pc tbody tr th {
    font-weight: 700;
    text-align: left;
  }
  html body .fb-main .fb-qA .table-pc tbody tr th, html body .fb-main .fb-qA .table-pc tbody tr td {
    font-family: "zen-kaku-gothic-antique", sans-serif;
    font-size: 14px;
    line-height: 21px;
  }
  html body .fb-main .fb-qA .table-pc tbody tr .fb-red1 {
    color: #D61800;
  }
  html body .fb-main .fb-qA .table-pc tbody tr .fb-red2 {
    color: #D61800;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-th {
    width: 75%;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-th th {
    display: block;
    width: 40%;
    text-align: center;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-th th:nth-of-type(2) {
    width: 60%;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr {
    width: 75%;
    margin: 15px auto 0 auto;
    display: flex;
    align-items: center;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td {
    display: block;
    margin-left: 15px;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td img {
    width: 57.5px;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td span {
    display: block;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td .fb-postage-label, html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td .fb-postage-label2 {
    display: block;
    width: 250px;
    background-color: #E2B340;
    margin-top: 2.5px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td .fb-postage6480 {
    display: inline-block;
    font-weight: bold;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td .fb-postage-span {
    color: #A97402;
    text-align: center;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td .fb-postage-label2 {
    background-color: #474747;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr td:nth-of-type(3) {
    margin-left: 45px;
  }
  html body .fb-main .fb-qA .table-pc tbody .fb-table-tr .fb-postage-td {
    text-align: center;
  }
}